.documentHider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 50%;
}

.cardBackground {
    position: absolute;
    left: 1%;
    right: 1%;
    top: 5%;
    opacity: 100%;
    z-index: 100;
}

.cardBackgroundInner {
    padding: 10px 10px 10px 10px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-flow: column;
}

.inputField {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px 5px 5px 5px;
    flex: 1 1 auto;
    border: 1px solid grey;
    border-radius: 5px;
    max-height: 75vh;
    overflow-y: auto;
}