.textEditorToolBar {
    display: grid;
    grid-template-columns: repeat(20, auto);
    column-gap: 0px;
    border: 1px solid grey;
    box-shadow: 1px 1px 5px #555 inset;
    padding: 4px 4px 4px 4px;
    align-content: left;
    justify-content: start;
}

.editorTarget {
    display: block;
    border: 1px solid grey;
    box-shadow: 1px 1px 5px #555 inset;
    padding: 4px 4px 4px 4px;
}

.editorTarget * {
    background-color: inherit;
}

#insertList, #insertCheckList, #listTypeSelector, #fontColorSelector, #fontSizeSelector, #fontWeightDropdown, #italicButton, #bgColorSelector {
    appearance: none;
    width:inherit;
    height: inherit;
    margin: inherit;
    padding: inherit;
    font-size: 8px;
    display: block;
    text-align: center;
    border: none;
    background-color: unset;
}

#fontSizeSelector, #fontWeightDropdown, #italicButton {
    font-size: 16px;
}

.toolBarButton {
    height: 30px;
    width:  30px;
    border: 1px solid black;
    border-radius: 5px;
    overflow: hidden;
}

#insertList > ul, #insertCheckList > ul {
    padding-inline-start: unset;
    margin-block-start: unset;
    margin-block-end: unset;
    text-align: center;
    position: relative;
    left: 15px;
}

#insertList > ul > li > span, #insertCheckList > ul > li > span {
    position: relative;
    left: -15px;
}

#insertCheckList > ul > li > span {
    line-height: 75%;
}

input[type="color" i]::-webkit-color-swatch {
    background-color: unset !important;
}