:root {
    --system-backgroundColor: #e0e0e0;
}

* {
    font-family: 'AtariClassicChunky', sans-serif;
}

body {
    margin: unset;
    font-size: 1.5rem;
}

@font-face {
    font-family: 'AtariClassicChunky';
    font-style: normal;
    font-weight: 400;
    src: local('AtariClassicChunky'), url("../../fonts/AtariClassicChunky.woff") format('woff');
}

#toDoListRender {
    overflow: hidden;
}

#toDoListRender > * {
    overflow-wrap: break-word;
}

.completeCheckBox {
    flex: 0.1;
}

.toDoListHandle {
    font-size: 4px;
    transform: rotate(90deg);
    opacity: 35%;
}

.nameInputField {
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 1.5rem;
    cursor: text;
}

.arrangeableListLabel > div {
    cursor: pointer;
    font-size: 1.5rem;
}

.nameInputField:focus {
    flex: 1;
    text-overflow: unset;
    max-height: unset;
    white-space: normal;
}

.dateTimeInputField {
    flex: 1;
    overflow: hidden;
    font-size: 1.5em;
}

.dateTimeInputField > * {
    font-size: 1.5rem;
    height: 2.5rem;
}

.descriptionInputField {
    flex: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 1.5rem;
    cursor: text;
}

.shortDateTimeField {
    display: none;
    flex: .5;
}

@media (max-width: 800px) {
    .dateTimeInputField {
        display: none;
    }

    .shortDateTimeField {
        display: unset;
    }
}

@media (max-width: 600px) {
    .descriptionInputField {
        display: none;
    }

}

.descriptionInputField:focus {
    flex: 2;
    background-color: var(--system-backgroundColor);
    text-overflow: unset;
    max-height: unset;
    white-space: normal;
}