@font-face {
  font-family: "oldSchoolClassicChunky";
  font-style: normal;
  font-weight: 400;
  src: local("AtariClassicChunky"),
    url("../fonts/AtariClassicChunky.woff") format("woff");
}

body {
  background-color: var(--desktopColor);
  font-family: "oldSchoolClassicChunky", sans-serif;
  font-size: 1.5em;
  margin: unset;
  overflow: hidden;
}

.desktop {
  display: flex;
  column-gap: 1em;
  row-gap: 1em;
  overflow: auto;
  flex-wrap: wrap;
  max-width: 100%;
  top: var(--menuBarHeight);
  height: calc(100% - calc(var(--menuBarHeight) + var(--borderWidth)));
  width: 100%;
}

.desktopMenuBar {
  display: flex;
  column-gap: 2em;
  background-color: var(--systemBackgroundColor);
  border-bottom: var(--borderWidth) solid black;
  height: var(--menuBarHeight);
  width: 100%;
  user-select: none;
  z-index: 5000;
}

.desktopMenuBar * {
  z-index: inherit;
}

.desktopMenu {
  padding-top: 1.05em;
}

.desktopMenu:hover > .desktopMenuItems,
.desktopMenuItems:hover {
  display: block;
}

.desktopMenuLabel {
  margin-left: 0.4em;
}

.desktopMenuItems {
  display: none;
  position: absolute;
  left: inherit;
  background-color: var(--systemBackgroundColor);
  width: fit-content;
  padding: 0em 0.2em 0.2em 0.2em;
  border: 0.2em solid black;
  border-top: none;
}

.desktopMenuItem {
  background-color: var(--systemBackgroundColor);
  cursor: pointer;
}

.desktopMenuItem:hover {
  filter: invert(1);
}

.desktopIcon {
  width: 10em;
  height: 6em;
  overflow: hidden;
  cursor: pointer;
}

.desktopIcon:hover {
  filter: invert(1);
}

.desktopIconImage {
  margin: auto;
  text-align: center;
  font-size: 3em;
  height: 75%;
}

.desktopIconImage > img {
  width: inherit;
  height: inherit;
}

.desktopIconLabel {
  text-align: center;
  background-color: var(--systemBackgroundColor);
  padding: 0.4em;
  font-size: 0.75em;
  height: 25%;
}

::-webkit-scrollbar,
::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-corner {
  background-color: var(--systemBackgroundColor);
}

::-webkit-scrollbar {
  width: 30px;
  height: 30px;
  z-index: 1000;
}

::-webkit-scrollbar:vertical {
  border-left: 0.2em solid black;
}

::-webkit-scrollbar:horizontal {
  border-top: 0.2em solid black;
}

::-webkit-scrollbar-button:single-button:vertical:decrement {
  height: 30px;
  background-image: url("./img/scrollbar/scrollBarArrowUp.png");
  background-position-y: -5px;
}

::-webkit-scrollbar-button:single-button:vertical:increment {
  height: 30px;
  background-image: url("./img/scrollbar/scrollBarArrowDown.png");
  background-position-y: 5px;
}

::-webkit-scrollbar-track {
  background: var(--dottedBackground) repeat;
}

::-webkit-scrollbar-thumb {
  outline: 0.2em solid black;
}

::-webkit-scrollbar-corner {
  background-color: black;
  background-image: linear-gradient(
    135deg,
    black 0 60%,
    white 0 70%,
    black 0 80%
  );
}
