:root {
    --system-backgroundColor: #e0e0e0;
    --dottedBackground: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAAXNSR0IArs4c6QAAABtJREFUGFdjZGBg+M/AwMDIAAVwBjYBsEoMFQBW5gIF0HSEnwAAAABJRU5ErkJggg==);
}

*:active {
    background-color: unset;
}

atari-window {
    display: block;
    position: absolute;
}

@font-face {
    font-family: 'AtariClassicChunky';
    font-style: normal;
    font-weight: 400;
    src: local('AtariClassicChunky'), url("../fonts/AtariClassicChunky.woff") format('woff');
}

@keyframes animateResponsiveMenu {
    from {
        transform: scaleY(0);
    }

    to {
        transform: scaleY(1);
    }
}

@media screen and (max-width: 1023px) {
    #atariStDesktopItems {
        flex-direction: column;
    }

    #atariStMenuBarResponsive {
        display: none;
        background-color: black;
        animation: animateResponsiveMenu 500ms;
        transform-origin: top;
    }

    #atariStMenuBarResponsiveContainer {
        flex-direction: column;
        border-bottom: .3em solid black;
        background-color: black;
    }
    
    .atariStMenuItem {
        padding-left: 15vw;
        padding-right: 5vw;
    }
    
    .atariStMenuFoldout {
        left: 0;
        right: 0;
    }
    
    .atariStWindow {
        position: absolute;
        background-color: var(--system-backgroundColor);
        outline: .2em solid black;
    }

    .atariStWindowContent {
        height: 500px;
    }

}

@media screen and (min-width: 1024px) {
    #atariStDesktopItems {
        flex-wrap: wrap;
    }

    #atariStMenuBarResponsiveLabel {
        display: none;
    }

    #atariStMenuBarResponsive {
        display: flex;
        padding-left: 10vw;
    }
}

#atariStLook {
    background-color: #00e000;
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    font-family: 'AtariClassicChunky', sans-serif;
    font-size: 1.5em;
    flex: 1;
    display: flex;
    overflow-y: auto;
    overflow-x: hidden;
    flex-direction: column;
}

#atariStMenuBar {
    background-color: var(--system-backgroundColor);
    height: 2.2em;
    border-bottom: .3em solid black;
}

#atariStMenuBarResponsive {
    position: relative;
    z-index: 1000;
    height: 100%;
}

#atariStMenuBarResponsiveContainer {
    padding-left: .1vw;
    padding-right: .1vw;
    display: flex;
    column-gap: 5vw;
    margin-top: auto;
    overflow: hidden;
}

#atariStMenuBarResponsiveContainer > * {
    cursor: pointer;
}

.atariStMenuItem {
    user-select: none;
    margin-top: auto;
    background-color: var(--system-backgroundColor);
    overflow: hidden;
    overflow-wrap: break-word;
    width: 100%;
}

.atariStMenuFoldout {
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: var(--system-backgroundColor);
    border: .2em solid black;
    overflow: hidden;
    animation: animateResponsiveMenu 500ms;
    transform-origin: top;

}

.atariStMenuItem, .atariStMenuFoldout {
    margin-left: 1vw;
    margin-right: 1vw;
}

#atariStDesktopItems {
    display: flex;
    align-content: flex-start;
    gap: 1em;
}

.atariStDesktopItem {
    width: 10em;
    height: fit-content;
    text-align: center;
    user-select: none;
}

.atariStDesktopItemIcon {
    filter: grayscale(100%);
    cursor: pointer;
    font-size: 3em;
    overflow: hidden;
    height: 1.3em;
}

.atariStDesktopItemIconFilter {
    position: absolute;
    height: 4em;
    width: 4em;
    background-color: rgb(0,0,0,0);
    margin-left: 3em;
    margin-right: 3em;
}

.atariStDesktopItemLabel {
    background-color: var(--system-backgroundColor);
    color: black;
}

.atariStDesktopItem:focus > .atariStDesktopItemLabel, .atariStDesktopItem:hover > .atariStDesktopItemLabel {
    background-color: black;
    color: var(--system-backgroundColor);
}

.atariStDesktopItem:focus > .atariStDesktopItemIcon > .atariStDesktopItemIconInvert, .atariStDesktopItem:hover > .atariStDesktopItemIcon > .atariStDesktopItemIconInvert {
    filter: invert(1);
}

.atariStWindow {
    position: absolute;
    background-color: var(--system-backgroundColor);
    outline: .2em solid black;
    box-shadow: .3em .3em 0em rgb(0, 0, 0, 0.5);
    animation: windowOpenAnimation 250ms;
    left: 5px;
}

@keyframes windowOpenAnimation {
    0% {
        display: block;
        transform: scale(0);
    }

    100% {
        display: block;
        transform: scale(1);
    }
}

.atariStWindowTitlebar {
    height: 1.5em;
    background: var(--dottedBackground) repeat;
    display: flex;
    border-bottom: .2em solid black;
    position: relative;
    cursor: pointer;
    user-select: none;
}

.atariStWindowTitlebarClose {
    border-right: .2em solid black;
    width: 1.5em;
    min-width: 15px;
    padding: .1em .1em .1em .1em;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAAXNSR0IArs4c6QAAAENJREFUKFNjZECA/0hsZCYjiAMm8CiGy4MYIJOQNcBMRhGDKcRmOswisEZkhXidQpZCdI9htZoozxAdPChWYAl0sG0AkToSBTGNSd4AAAAASUVORK5CYII=);
    background-origin: content-box;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: var(--system-backgroundColor);
}

.atariStWindowTitlebarClose:active {
    filter: invert(1);
}

[windowCloseAnimation] {
    animation: windowCloseAnimation 250ms;
}

@keyframes windowCloseAnimation {
    0% {
        display: block;
        transform: scale(1);
    }

    100% {
        display: block;
        transform: scale(0);
    }
}

.atariStWindowTitlebarLabel {
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
}

.atariStWindowContent {
    overflow: scroll;
    overflow-wrap: break-word;
    resize: both;
    padding: .2em .2em .2em .2em;
}

#calcYouLaterFrame {
    border-width: 0px;
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    resize: both;

}

.atariStWindowContentListItemLabel {
    cursor: pointer;
    user-select: none;
    white-space: nowrap;
}

.atariStWindowContentListItemLabel:focus {
    filter: invert();
    background-color: var(--system-backgroundColor);
}

.atariStWindowContentListItemLabel  + .atariStWindow {
    display: none;
    background-color: var(--system-backgroundColor);
    position: absolute;
    overflow: auto;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
}

.atariStMenuItemActive, .atariStMenuItem:focus, .atariStMenuItem:hover {
    color: var(--system-backgroundColor);
    background-color: black;
}

::-webkit-scrollbar, ::-webkit-scrollbar-track, ::-webkit-scrollbar-thumb, ::-webkit-scrollbar-corner {
    background-color: var(--system-backgroundColor);
}

::-webkit-scrollbar {
    width: 30px;
    height: 30px;
    z-index: 1000;
}

::-webkit-scrollbar:vertical {
    border-left: .2em solid black;
}

::-webkit-scrollbar:horizontal {
    border-top: .2em solid black;
}

::-webkit-scrollbar-button:single-button:vertical:decrement {
    height:30px;
    background-image: url("../img/scrollbar/scrollBarArrowUp.png");
    background-position-y: -5px;
}

::-webkit-scrollbar-button:single-button:vertical:increment {
    height:30px;
    background-image: url("../img/scrollbar/scrollBarArrowDown.png");
    background-position-y: 5px;
}

::-webkit-scrollbar-track {
    background: var(--dottedBackground) repeat;
}

::-webkit-scrollbar-thumb {
    outline: .2em solid black;
}

::-webkit-scrollbar-corner {
    background-color: black;
    background-image: linear-gradient(135deg, black 0 60%, white 0 70%, black 0 80%);
}

[bindFieldName] {
    font-weight: bold;
}

.projectTitle[boundField="projects.title"] {
    font-weight: bold;
}