:root {
    --system-backgroundColor: #e0e0e0;
}

@font-face {
    font-family: 'AtariClassicChunky';
    font-style: normal;
    font-weight: 400;
    src: local('AtariClassicChunky'), url("../fonts/AtariClassicChunky.woff") format('woff');
}

#atariStLook {
    background-color: #00e000;
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    font-family: 'AtariClassicChunky', sans-serif;
    font-size: 1.5em;
    cursor: "🐝" auto;
}

#atariStMenuBar {
    background-color: #e0e0e0;
    border-bottom: .3em solid black;
    height: 2.2em;
    padding-left: 3em;
    display: flex;
    z-index: -1000;
}

.atariStMenu {
    padding-left: 1.5em;
    padding-right: 1.5em;
    cursor: pointer;
    user-select: none;
    margin-top: auto;
}

.atariStMenu:focus {
    background-color: black;
    color: var(--system-backgroundColor);
}

.atariStMenuFoldout {
    display: none;
    position: absolute;
    background-color: var(--system-backgroundColor);
    top: 2.44em;
    cursor: pointer;
    user-select: none;
    z-index: 1;
    border: .2em solid black;
}

.atariStMenu:focus + .atariStMenuFoldout {
    display: flex;
    flex-direction: column;
}

.atariStMenuFoldoutItem {
    padding-left: 3em;
    padding-right: 2em;
}

.atariStMenuFoldoutItem:hover {
    background-color: black;
    color: var(--system-backgroundColor);
}

#atariStDesktopItems {
    z-index: -1;
    display: flex;
    gap: 1em;
}

.atariStDesktopItem {
    width: 10em;
    text-align: center;
    user-select: none;
}

.atariStDesktopItemIcon {
    filter: grayscale(100%);
    cursor: pointer;
    font-size: 3em;
    overflow: hidden;
    height: 1.3em;
}

.atariStDesktopItemIconFilter {
    position: absolute;
    height: 4em;
    width: 4em;
    background-color: rgb(0,0,0,0);
    margin-left: 3em;
    margin-right: 3em;
}

.atariStDesktopItemLabel {
    background-color: var(--system-backgroundColor);
    color: black;
}

.atariStDesktopItem:focus > .atariStDesktopItemLabel {
    background-color: black;
    color: var(--system-backgroundColor);
}

.atariStDesktopItem:focus > .atariStDesktopItemIcon > .atariStDesktopItemIconInvert {
    filter: invert(1);
}

.atariStDesktopItemWindow {
    position: absolute;
    min-width: 500px;
    min-height: 500px;
    left: 10vw;
    background-color: var(--system-backgroundColor);
    outline: .2em solid black;
    box-shadow: .3em .3em 0em rgb(0, 0, 0, 0.5);
    animation: windowOpenAnimation 250ms;
}

@keyframes windowOpenAnimation {
    0% {
        display: block;
        transform: scale(0);
    }

    100% {
        display: block;
        transform: scale(1);
    }
}

.atariStDesktopItemWindowTitlebar {
    height: 1.5em;
    background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAAXNSR0IArs4c6QAAABtJREFUGFdjZGBg+M/AwMDIAAVwBjYBsEoMFQBW5gIF0HSEnwAAAABJRU5ErkJggg==) repeat;
    display: flex;
    border-bottom: .2em solid black;
    position: relative;
    cursor: pointer;
    user-select: none;
}

.atariStDesktopItemWindowTitlebarClose {
    border-right: .2em solid black;
    width: 1.5em;
    min-width: 15px;
    padding: .1em .1em .1em .1em;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAAXNSR0IArs4c6QAAAENJREFUKFNjZECA/0hsZCYjiAMm8CiGy4MYIJOQNcBMRhGDKcRmOswisEZkhXidQpZCdI9htZoozxAdPChWYAl0sG0AkToSBTGNSd4AAAAASUVORK5CYII=);
    background-origin: content-box;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: var(--system-backgroundColor);
}

.atariStDesktopItemWindowTitlebarClose:active {
    filter: invert(1);
}

[windowCloseAnimation] {
    animation: windowCloseAnimation 250ms;
}

@keyframes windowCloseAnimation {
    0% {
        display: block;
        transform: scale(1);
    }

    100% {
        display: block;
        transform: scale(0);
    }
}

.atariStDesktopItemWindowTitlebarLabel {
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
}

.atariStDesktopItemWindowContent {
    height: 90%;
    overflow: auto;
}

#calcYouLaterFrame {
    width: 100%;
    height: 100%;
}

.atariStDesktopItemWindowContentListItemLabel {
    cursor: pointer;
    user-select: none;
}

.atariStDesktopItemWindowContentListItemLabel:focus {
    filter: invert();
    background-color: var(--system-backgroundColor);
}

.atariStDesktopItemWindowContentListItemLabel:focus  + .atariStDesktopItemWindow {
    background-color: var(--system-backgroundColor);
    display: block !important;
    position: absolute;
    overflow: auto;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
}